* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: lightgrey;
}

.header {
  background-color: white;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__nav .logo__img {
  width: 70px;
  border: 2px solid black;
  border-radius: 50%;
}

.header .carrito {
  width: 70px;
  list-style: none;
}

main .titulo {
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  padding-top: 30px;
}

main .subtitulo {
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
  padding-top: 5px;
}

main .ep {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

main .ep__title {
  color: palevioletred;
  font-family: 'Syncopate', sans-serif;
}

main .ep__subtitle {
  font-family: 'Space Grotesk', sans-serif;
}

main .ep__img {
  width: 300px;
}

main .ep__artist {
  color: palevioletred;
  font-family: 'Syncopate', sans-serif;
}

main .ep__columna {
  background-color: #b5b5b5;
}
