.f1 {
  font-size: 1rem;
}

.f1-5 {
  font-size: 1.5rem;
}

.f2 {
  font-size: 2rem;
}

.f3 {
  font-size: 3rem;
}

.f4 {
  font-size: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: white;
}

.header {
  background-color: black;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__nav .logo__img {
  width: 70px;
  border: 2px solid darkgray;
  border-radius: 50%;
}

.header .carrito {
  width: 70px;
  list-style: none;
}

.header__titulo {
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  color: white;
}

.header ul {
  margin: 0;
}

.main__contenedor {
  display: flex;
  justify-content: center;
}

main {
  width: 80%;
}

main .ep {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

main .ep__title {
  color: #cccccc;
  font-family: 'IBM Plex Mono', monospace;
  padding-top: 5px;
}

main .ep__subtitle {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
}

main .ep__img {
  width: 250px;
  border-radius: 29px;
}

main .ep__artist {
  color: white;
  font-family: 'Syncopate', sans-serif;
  padding-top: 5px;
  margin: 0;
}

main .ep__columna {
  background-color: #646464;
  border-radius: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px black;
  border: 1px solid black;
}

main .ep__audio {
  width: 90%;
  border-radius: 10px;
}

main .ep .boton {
  margin-top: 10px;
}

.category__list {
  display: flex;
  background-color: #414141;
  justify-content: space-evenly;
}

.category__list .category__item {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  width: 120px;
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
}
