.f1 {
  font-size: 1rem;
}

.f1-5 {
  font-size: 1.5rem;
}

.f2 {
  font-size: 2rem;
}

.f3 {
  font-size: 3rem;
}

.f4 {
  font-size: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: white;
}

.header {
  background-color: black;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__nav .logo__img {
  width: 70px;
  border: 2px solid darkgray;
  border-radius: 50%;
}

.header .carrito {
  width: 70px;
  list-style: none;
}

.header__titulo {
  font-family: "Major Mono Display", monospace;
  text-align: center;
  color: #7e7e4c;
}

.header ul {
  margin: 0;
}

.contenedor__productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main {
  background-color: #121212;
}

main .ep {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .ep__title {
  color: #cccccc;
  font-family: "IBM Plex Mono", monospace;
  padding-top: 5px;
}

main .ep__subtitle {
  font-family: "IBM Plex Mono", monospace;
  color: white;
}

main .ep__img {
  width: 100%;
  border-radius: 29px;
}

main .ep__artist {
  color: #7e7e4c;
  font-family: "Syncopate", sans-serif;
  padding-top: 5px;
  margin: 0;
}

main .ep__columna {
  background-color: #37362b;
  border-radius: 30px;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin: 10px 20px;
  justify-content: center;
  padding-top: 20px;
}

main .ep__audio {
  width: 100%;
  border-radius: 10px;
}

main .ep .boton {
  margin-top: 10px;
}

main .ep .boton:hover {
  background-color: #7e7e4c;
  color: white;
  transition: ease 0.5s;
}

.category__list {
  display: flex;
  background-color: #37362b;
  justify-content: space-evenly;
}

.category__list .category__item {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  background-color: #7e7e4c;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  width: 120px;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
}

.category__list .item-active {
  background: #cece7b;
  color: black;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #4f4e44;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: wheat;
  min-width: 500px;
  padding: 20px;
  margin-top: -100px;
  transition: all 0.5s;
}

.modal-carrito .modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito .modal-carrito h3 {
  color: red;
  padding-top: 5px;
}

.modal-carrito .modal-carrito #modalCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: aqua;
  border: none;
  background-color: yellowgreen;
}

.modal-carrito .modal-carrito #modalCerrar:hover {
  cursor: pointer;
}

.modal-carrito .modal-carrito #modalCerrar:focus {
  outline: none;
}

.modal-carrito .modal-carrito #modalCerrar .precioProducto {
  padding-top: 10px;
}
