.body{
    background: rgb(255,255,255);
background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(36,36,36,1) 7%, rgba(36,36,36,1) 93%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(36,36,36,1) 7%, rgba(36,36,36,1) 93%, rgba(255,255,255,1) 100%);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(36,36,36,1) 7%, rgba(36,36,36,1) 93%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}