.header {
  background-color: black;

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo {
      &__img {
        width: 70px;
        border: 2px solid darkgray;
        border-radius: 50%;
      }
    }
  }

  .carrito {
    width: 70px;
    list-style: none;
  }

  &__titulo {
    @include titulo;
  }

  ul {
    margin: 0;
  }
}
