.header {
  background-color: black;

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo {
      &__img {
        width: 70px;
        border: 2px solid darkgray;
        border-radius: 50%;
      }
    }
  }

  &__login {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__btn {
      cursor: pointer;
      margin: 0;
      &:hover {
        color: rgb(134, 134, 255);
      }
    }
  }
  &__userimg {
    width: 50px;
    background: none;
    border-radius: 50%;
  }

  .carrito {
    list-style: none;
    font-size: 40px;
    background: none;
    color: white;
    border: none;
    display: flex;
    width: 70px;
    justify-content: space-between;
    align-items: baseline;
  }

  &__titulo {
    @include titulo;
  }

  ul {
    margin: 0;
  }
}
