main{
    .titulo{
        font-family: 'Syncopate', sans-serif;
        text-align: center;
        padding-top: 30px;
        
    }

    .subtitulo{
        font-family: 'Space Grotesk', sans-serif;
        text-align: center;
        padding-top: 5px;
    }

    .ep{
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;

        &__title{
            color: palevioletred;
            font-family: 'Syncopate', sans-serif;
        }
        
        &__subtitle{
            font-family: 'Space Grotesk', sans-serif;
            
        }

        &__img{
            width: 300px;
        }

        &__artist{
            color: palevioletred;
            font-family: 'Syncopate', sans-serif;
        }

        &__columna{
            background-color: #b5b5b5;
        }

        

    }

  
}

