.contenedor__productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ep {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  &__title {
    color: rgb(0, 0, 0);
    font-family: "IBM Plex Mono", monospace;
    padding-top: 5px;
    font-size: 1.5rem;
  }

  &__subtitle {
    font-family: "IBM Plex Mono", monospace;
    color: rgb(0, 0, 0);
    font-size: 1rem;
  }

  &__img {
    width: 100%;
    border-radius: 29px;
  }

  &__artist {
    color: rgb(0, 0, 0);
    font-family: "IBM Plex Mono", monospace;
    padding-top: 5px;
    margin: 0;
    font-size: 1.5rem;
  }

  &__columna {
    background-color: #b8b8b8;
    border-radius: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin: 20px 10px;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
  }

  &__audio {
    width: 90%;
    border-radius: 10px;
    margin: 10px 0;
  }

  .boton {
    margin-top: 10px;

    &:hover {
      background-color: rgb(126, 126, 76);
      color: white;
      transition: ease 0.5s;
    }
  }
}

.comprar {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;

  &:hover {
    background-color: #4f4e44;
    color: white;
    transition: 0.5s;
  }
}
.category__list {
  display: flex;
  background-color: #37362b;
  justify-content: space-evenly;

  .category__item {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: rgb(126, 126, 76);
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 120px;
    border: none;

    &:hover {
      background: rgb(206, 206, 123);
      color: rgb(0, 0, 0);
    }
  }

  .item-active {
    background: rgb(206, 206, 123);
    color: rgb(0, 0, 0);
  }
}

.modal__container {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: white;
  background-color: #37362b;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;

  .modal__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px;

    &__artist {
      width: 15%;
      text-align: start;
      font-family: "IBM Plex Mono", monospace;
      color: rgb(255, 255, 255);
      font-size: 1rem;
    }

    &__track {
      width: 30%;
      text-align: start;
      font-family: "IBM Plex Mono", monospace;
      color: rgb(255, 255, 255);
      font-size: 1.5rem;
    }

    &__genero {
      width: 10%;
      text-align: start;
      font-family: "IBM Plex Mono", monospace;
      color: rgb(255, 255, 255);
      font-size: 1rem;
    }

    &__audio {
      width: 30%;
      text-align: start;
      font-family: "IBM Plex Mono", monospace;
      color: rgb(255, 255, 255);
      font-size: 1rem;
    }

    &__precio {
      width: 5%;
      text-align: start;
      font-family: "IBM Plex Mono", monospace;
      color: rgb(255, 255, 255);
      font-size: 1rem;
    }
  }

  .delete__product {
    width: 5%;
    border-radius: 10px;
    border: none;
    &:hover {
      background-color: transparent;
      transform: rotateX(360deg);
      transition: 1s;
      color: red;
      cursor: not-allowed;
    }
  }
}

.modal__container::-webkit-scrollbar {
  display: none;
}

.modal__header {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  color: rgb(185, 185, 137);
  width: 100%;
  align-items: center;
}

.modal__header__title {
  justify-self: start;
}

.modal__header__button {
  width: 2%;
  height: 2%;
  border: none;
  border-radius: 50%;

  &:hover {
    transform: scale(1.2);
    background-color: black;
    transition: 5s;
    color: red;
  }
}
