main{
   
    .ep{
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;

        &__title{
            color: palevioletred;
            font-family: 'Syncopate', sans-serif;
        }
        
        &__subtitle{
            font-family: 'Space Grotesk', sans-serif;
            
        }

        &__img{
            width: 250px;
            border-radius: 29px;
        }

        &__artist{
            color: rgb(71, 7, 29);
            font-family: 'Syncopate', sans-serif;
        }

        &__columna{
            background-color: #b5b5b5;
            border-radius: 30px;
        }

        &__audio{
            width: 90%;
            border-radius: 10px;
        }


    }

  
}

.category__list{
    display: flex;
    justify-content: space-evenly;
    background-color: #b5b5b5;



    .category__item{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 10px;
        background-color: white;
        text-decoration: none;
        color: black;
        border-radius: 5px;
        width:120px;
        @include subtitulo

        &:hover{
            background-color: black;
            color: white;
        }
    }
}

