@mixin titulo {
  font-family: "Major Mono Display", monospace;
  text-align: center;
  color: rgb(126, 126, 76);
}

@mixin subtitulo {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
}

$fontsizes: (
  "f1": 1rem,
  "f1-5": 1.5rem,
  "f2": 2rem,
  "f3": 3rem,
  "f4": 4rem,
);

@each $nombre, $font-size in $fontsizes {
  .#{$nombre} {
    font-size: #{$font-size};
  }
}
